.tree-animation {
  overflow: hidden;
  position: absolute;
  animation: revealTree 5s ease-out forwards;
  background-color: white;
}

@keyframes revealTree {
    0%   {    
        left: 0px;
        top: 0px;
    }
    25%  {   
        left: 25%;
        top: 0px;}
    50%  {   

        left: 50%;
        top: 0px;}
    100% {   
        left: 100%;
        top: 0px;}

}